#global-area.row
  #menu-area.col-xs-3
    sheets-component(":current-sheet-definition"="currentSheetDefinition", ":sheet-names"="sheetNames")
    column-component(":current-sheet-definition"="currentSheetDefinition")
  #main-area.col-xs-9
    spreadsheet-component(":current-sheet-definition"="currentSheetDefinition")
