#container.container-fluid
  #row.row
    #menu-area.col-xs-3("v-if"="showMenu")
      menu-component(":mode.sync"="mode")
      sheets-component(":current-sheet"="currentSheet", ":sheets"="sheets", ":sheet-metas"="sheetMetas")
      column-component(":current-sheet"="currentSheet")
    #main-area(":class"="{'col-xs-9': showMenu, 'col-xs-12': !showMenu}")
      #main-message("v-if"="currentSheet.name == 'root' && mode == 'data'") root sheet can not have data, please select or create new sheet.
      spreadsheet-component("v-if"="mode == 'data'", ":current-sheet"="currentSheet", ":current-sheet-meta"="currentSheetMeta",
      ":current-data"="currentData", ":show-menu"="showMenu")
      code-editor-component("v-if"="mode == 'code'", ":current-sheet"="currentSheet", ":current-code"="currentCode")
