#global-area.row
  #menu-area.col-xs-3
    sheets-component(":current-sheet"="currentSheet", ":sheets"="sheets")
    column-component(":current-sheet"="currentSheet")
  #main-area.col-xs-9
    spreadsheet-component(":current-sheet"="currentSheet")
