div.row
  div#menu-area.col-xs-3
    sheets-component("v-bind:sheet-names"="sheetNames", "v-bind:current-sheet-name"="currentSheetName")
    column-component("v-bind:current-sheet-definition"="currentSheetDefinition")
  div#main-area.col-xs-9
    spreadsheet-component("v-bind:current-sheet-name"="currentSheetName", "v-bind:current-sheet-definition"="currentSheetDefinition")
