#global-area.row
  #menu-area.col-xs-3("v-if"="showMenu")
    sheets-component(":current-sheet"="currentSheet", ":sheets"="sheets")
    column-component(":current-sheet"="currentSheet")
  #main-area(":class"="{'col-xs-3': showMenu, 'col-xs-12': !showMenu}")
    spreadsheet-component(":current-sheet"="currentSheet", ":current-data"="currentData")
