div.row
  div#menu-area.col-xs-3
    sheets-component("v-ref:sheets", "v-bind:sheet-names"="sheetNames")
    column-component("v-ref:column")
  div#main-area.col-xs-9
    spreadsheet-component("v-ref:spreadsheet")
