mixin form-group(title)
  div.form-group
    label.control-label(class="col-xs-4")= title
    div(class="col-xs-8")
      block

div.panel.panel-default("v-if"="currentSheetDefinition")
  div.panel-heading Manage Column
  div.panel-body
    button.btn.btn-primary.btn-block("v-on:click"="add") Add
  div.panel-body("v-if"="columnDefinition")
    div.form-horizontal
      +form-group("Header")
        input#column-header.form-control(type="text", "v-model"="colHeader")
      +form-group("Data")
        input#column-data.form-control(type="text", "v-model"="columnDefinition.data")
      +form-group("Type")
        select#column-type.form-control("v-model"="columnDefinition.type")
          option(value="text") Text
          option(value="numeric") Numeric
      +form-group("Width")
        input#column-width.form-control(type="number", "v-model"="columnDefinition.width")
