div.panel.panel-default
  div.panel-heading #[i.fa.fa-file] File
  ul.list-group
    li.list-group-item
      button.btn.btn-block.btn-info("@click"="load()") Load
    li.list-group-item
      button.btn.btn-block.btn-primary("@click"="save()") Save
