div.panel.panel-default
  div.panel-heading #[i.fa.fa-table] Sheets
  ul.list-group
    li.list-group-item("v-for"="(sheetName, sheet) in sheets", "@click"="select(sheet)",
    ":class"="{'list-group-item-info': sheet == currentSheet}") {{sheet.name}}
      span.label.label-danger.pull-right("v-if"="sheetMetas[sheetName].modified") !
    li.list-group-item
      div.row
        div.col-md-8
          input.form-control(type="text", "v-model"="newName", placeholder="New sheet name")
        div.col-md-4
          button.btn.btn-primary.btn-block("@click"="add") #[i.fa.fa-plus] Add
    li.list-group-item("v-if"="currentSheet")
      div.row
        div.col-md-12
          button.btn.btn-danger.btn-block("@click"="remove") #[i.fa.fa-trash] Delete
