<!DOCTYPE html><html><head><meta charset="utf-8"><title>spreadsheet-code-generator</title><link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"><link rel="stylesheet" href="../node_modules/handsontable/dist/handsontable.full.min.css"><style>.currentRow {
  background-color: #F9F9FB !important;
}
.currentCol {
  background-color: #E7E8EF !important;
}</style></head><body><div class="row"><div id="explorer-area" class="col-xs-3"><div class="panel panel-default"><div class="panel-heading">Definitions</div><ul id="explorer-list-group" class="list-group"></ul></div></div><div id="main-area" class="col-xs-9"><div id="spreadsheet"></div></div></div><script>window.jQuery = window.$ = require("../node_modules/jquery/dist/jquery.min");
require("../node_modules/bootstrap/dist/js/bootstrap.min");
var Handsontable = require("handsontable");
require("../lib/main");</script></body></html>